<mat-toolbar class="navbar">
  <span class="navbar__brand">WikiPro</span>

  <nav class="navbar__nav">
    <button mat-button type="button">Home</button>
    <button mat-button type="button">Kategorien</button>
  </nav>

  <span class="navbar__spacer"></span>

  <mat-form-field class="navbar__search" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Suche</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="Suchen…" />
  </mat-form-field>

  <span class="navbar__role">
    <mat-icon>person</mat-icon>
    Viewer
  </span>
</mat-toolbar>
